* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  border: none;
  cursor: pointer;
}

input {
  border: 0;
  background-color: none;
}

*::placeholder {
  color: var(--secondary-gray-3);
  font-family: "Noto Sans TC";
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

/* 滑桿調整 */

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background-color: var(--pale-white);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-blue-2);
  width: 5px;
  border-radius: 8px;
}
