// 變數名稱暫定而已，之後可以更改

:root {
  --primary-blue: #1e60cd;
  --primary-black: #2b2b2b;

  --secondary-blue-1: #64b1dc;
  --secondary-blue-2: #aec6ed;
  --secondary-blue-3: #e3eefb;
  --secondary-blue-4: #f3f7fc;

  --secondary-gray-1: #535666;
  --secondary-gray-2: #dedede;
  --secondary-gray-3: #a8b1c1;

  --accent-yellow: #ffe297;
  --accent-red: #f87171;

  --success-green: #4ad180;
  --error-red: #ef4444;
  --error-yellow: #fbbf24;
  --pale-white: #ffffff;
}
