// 變數名稱暫定而已，之後可以更改
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Sans+TC:wght@400;500;700&display=swap");

body {
  line-height: 1.5 !important;
  letter-spacing: 1.5px !important;
  font-family: "Noto Sans TC", "Montserrat", sans-serif !important;
  color: var(--primary-black) !important;
}
